      <section>

        <div class="page-header">
          <h1>Поиск жокеев</h1>
        </div>
        <p>
          <form class="form-horizontal" method="get" action="/query1">
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="nickname">Кличка лошадки</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="nickname" name="nickname" required="required" maxlength="20"/>
                  <!-- <p class="help-block">Supporting help text</p> -->
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Искать</button>
              </div>
            </fieldset>
          </form>
        </p>

      </section>
