$def with (jockey_context)

      <section>

        <div class="page-header">
          <h1>Редактирование жокея</h1>
        </div>
        <p>
          <form class="form-horizontal" method="post" action="/jockeys/update">
            <fieldset>
              $if not jockey_context.is_new:
                <input type="hidden" name="id" value="$jockey_context.jockey.id"/>
              <div class="control-group">
                <label class="control-label" for="address">Адрес</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="address" name="address" required="required" maxlength="20"
                    value="$jockey_context.jockey.address"/>
                  <!-- <p class="help-block">Supporting help text</p> -->
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="age">Возраст</label>
                <div class="controls">
                  <input type="number" class="input-xlarge" id="age" name="age" required="required" min="1" max="200"
                    value="$jockey_context.jockey.age"/>
                  <!-- <p class="help-block">Supporting help text</p> -->
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="weight">Вес</label>
                <div class="controls">
                  <input type="number" class="input-xlarge" id="weight" name="weight" required="required" maxlength="20"
                    value="$jockey_context.jockey.weight"/>
                  <!-- <p class="help-block">Supporting help text</p> -->
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="height">Рост</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="height" name="height" required="required" maxlength="20"
                    value="$jockey_context.jockey.height"/>
                  <!-- <p class="help-block">Supporting help text</p> -->
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="fullname">Имя</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="fullname" name="fullname" required="required" maxlength="20"
                    value="$jockey_context.jockey.fullname"/>
                  <!-- <p class="help-block">Supporting help text</p> -->
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </fieldset>
          </form>
        </p>

      </section>
